.post {
  max-width: 90%;
  margin: 24px;
  max-height: 80vh;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.userNameAndDateContainer {
  margin-left: 8px;
}

.post .postImage {
  width: 100%;
  height: 55vh;
  max-width: 500px;
  object-fit: cover;
  margin: 8px;
}

/* .post .postImage .landscape {
  aspect-ratio: 1.91 / 1;
  object-fit: contain;
}

.post .postImage .square {
  aspect-ratio: 1 / 1;
  object-fit: cover;
} */

.postBottom {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 8px;
}

.commentAndLikeIconsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.commentButtonContainer {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.commentIconImg {
  width: 24px;
  height: 24px;
}

.commentIconImg:hover {
  transform: scale(1.2); /* Slight enlargement on hover */
}

.commentsCount {
  font-size: 12px;
}

.captionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  margin: 4px;
}

.caption {
  padding: 16px;
  font-size: 14px;
  color: #f3f3fc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  text-align: start;
  color: var(--bistre);
}

@media (max-width: 480px) {
  .post {
    max-width: 100%;
  }

  .post::after {
    width: 180%;
    max-width: 500px;
    left: -40%;
  }
}

@media (max-width: 768px) {
  .post {
    max-width: 100%;
  }

  .post .postImage {
    aspect-ratio: 1 / 1;
    max-height: 300px;
  }

  .post::after {
    width: 180%;
    left: -40%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .post {
    max-width: 450px;
  }

  .post .postImage {
    aspect-ratio: 4 / 5;
    max-height: 400px;
  }

  .post::after {
    width: 170%;
    left: -35%;
  }
}

@media (min-width: 1201px) and (max-width: 1920px) {
  .post {
    max-width: 500px;
  }

  .post .postImage {
    aspect-ratio: 4 / 5;
    max-height: 500px;
  }

  .post::after {
    width: 160%;
    left: -30%;
  }
}

@media (min-width: 1921px) {
  .post {
    max-width: 700px;
  }

  .post::after {
    width: 155%;
    left: -27.5%;
  }
}
