.comments {
    margin-top: 20px;
    overflow-y: auto;
    max-height: 250px;
    height: fit-content;
    padding-right: 10px;
}

.comments::-webkit-scrollbar {
    width: 8px;
}

.comments::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

.comments::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.comments::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.addComment {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.addComment input {
    flex: 1;
    padding: 8px;
    font-size: 14px;
}

.addComment button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}

.liComment {
    display: flex;
    justify-content: space-between;
}

.deleteIcon {
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.deleteIcon:hover {
    transform: scale(1.2);
    color: red;
}