.createPost {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    to top,
    var(--columbia-blue) 70%,
    var(--indigo-dye) 100%
  );
  min-height: 100vh; /* Full page height */
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 90%;
  max-width: 400px;
  max-height: 60vh; /* Restrict height to 60% of the viewport */
  gap: 15px;
  background-color: var(--background-color);
  padding: 20px 20px 40px; /* Consolidated padding */
  border-radius: var(--cards-border-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.addPostIcon {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.preview {
  position: relative;
  display: flex;
  flex-direction: column; /* Ensures vertical stacking */
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  max-width: 80%;
  border-radius: var(--cards-border-radius);
  overflow: hidden;
}

.Create label {
  margin-bottom: 10px; /* Adds space between label and image */
  font-size: 1rem;
  color: var(--bistre);
}

.preview img {
  max-width: 80%;
  border-radius: 8px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.preview:hover img {
  transform: scale(1.05);
  filter: brightness(0.7);
}

.preview label {
  margin-bottom: 10px; /* Adds space between label and image */
  font-size: 1rem;
  color: var(--bistre);
}

.uploadButton {
  background-color: var(--columbia-blue);
  width: 90%;
  padding: 8px;
  border-radius: 16px;
  border: none;
  color: var(--indigo-dye);
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.uploadButton:hover {
  transform: translateY(-3px);
  background-color: var(--dark-orange-web);
}

.captionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.captionContainer input {
  width: 90%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: var(--cards-border-radius);
  outline: none;
}

.createPostButton {
  color: var(--beige);
  border: none;
  background-color: var(--indigo-dye);
  margin-top: 24px;
  width: 40%;
  height: 40px;
  border-radius: var(--cards-border-radius);
}

.createPostButton:hover {
  background-color: var(--dark-orange-web);
}
.createPostButton:hover {
    cursor: pointer;
    background-color: #ef6b7c;
}