.imagePlaceholder,
.imageSection {
    width: 100%;
    height: 380px;
    /* גובה קבוע לתמונה */
    margin-bottom: 10px;
    overflow: hidden;
    /* חותך את התמונה אם היא יוצאת מהקונטיינר */
}

.imageSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ממלא את הקונטיינר */
    object-position: top;
    /* מוודא שהתמונה תישאר ממורכזת בחלק העליון של הקונטיינר */
}