/* .imagePlaceholder,
.imageSection {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}

.imageSection img {
    width: 100%;
    object-fit: cover;
    object-position: top;
} */


.imageSection {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.postImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .imageSection {
        width: 50%;
    }
}