.imageSection {
    width: 25%; /* Reduz a largura do contêiner */
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.postImage {
    width: 100%;
    height: auto; 
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.profilePhoto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
