.likes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40px; /* Adjust size to fit the heart icon better */
  height: 40px;
}

.likeButton {
  margin-top: -10px;
  cursor: pointer;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; /* Ensure no visible background color */
  transition: transform 0.2s ease-in-out; /* Add hover animation */
  position: relative;
}

.likeButton:hover {
  transform: scale(1.2); /* Slight enlargement on hover */
}

.liked {
  background-image: url("../../assets/heart2.png"); /* Active state heart image */
}

.notLiked {
  background-image: url("../../assets/heart1.png"); /* Default heart image */
}

.likeCount {
  margin-left: 5px;
  font-size: 14px;
  color: var(--bistre);
}
