.likes {
  display: flex;
  align-items: center;
}

.likeButton {
  margin-top: -10px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; /* Ajustado para acomodar o ícone maior */
  height: 80px;
  position: relative;
}

.likeButton:hover {
  background-color: transparent;
  box-shadow: none;
}

.heartIcon {
  position: absolute;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.heartIcon.active {
  opacity: 1;
  transform: scale(1.2); /* Efeito de escala quando ativo */
}

.likeCount {
  margin-left: 5px;
  font-size: 14px;
  color: #555;
}
