.likes {
    display: flex;
    align-items: center;
  }
  
  .likeButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .likeButton:hover {
    opacity: 0.8;
  }
  
  .likeCount {
    margin-left: 5px;
    font-size: 14px;
    color: #555;
  }
  