.postsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin-right: 20px;
    margin-left: 20px;
    justify-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
