.userInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    text-align: center;
}

.username {
    font-size: 30px;
    margin: 0;
}

.stats {
    display: flex;
    gap: 1rem; /* Espaço horizontal entre os contadores */
    font-size: 1rem;
}
